*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
}
 /* ------------------------------------------- Header nav --------------------------------------------------- */
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
    background:white;
}
.header .logo img{
    height: 80px;
    margin:10px 20px;
}
.icons .sub{
    display: inline-block;
    padding: 20px 30px;
    text-align: center;
    font-size: 14px;
    color: black;

}
.icons .sub:hover{
    background:linear-gradient( rgba(255,255,255,0.8) 47%, rgba(0,212,255,.2) 100%);
}
.fas, .fa-hospital{
    color: teal;
    font-size: 40px;
    padding-bottom: 5px;
}
 /* ------------------------------------------- Corona nav --------------------------------------------------- */
.corona{
    width: 100%;
    background-color: rgb(219, 58, 30);
    text-align: center;
}
.corona p{
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    margin-right: 150px;
    color: white;
}
button{
    background-color: white;
    color: black;
    padding: 8px 10px;
    font-size: 17px;
    font-weight: bold;
    margin: 20px 7px;
    border-radius: 8px;
    border: 0;
}
button:hover{
    background-color: rgb(128, 0, 0);
    color: white;
}
.donate{
background-color: yellow;
}
.donate:hover{
    background-color: orange;
}
.content{
    background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url(../img/bg-img2.jpg);
    background-size: cover;
}

/* ------------------------------------------- Section --------------------------------------------------- */
.section{
    padding: 15px;
}
.section h1{
    text-align: center;
    color: rgb(202, 129, 45);
    font-family: cursive;
}
/* ------------------------------------------- Form --------------------------------------------------- */

.form{
    width: 40%;
    margin: auto;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: rgb(180 180 180 / 39%);
    box-sizing: border-box;
    box-shadow: 0 0 4px rgb(66, 65, 65);
}
.form h2{
    padding-top: 10px;
    color: rgb(12, 87, 87);
}
input,select{
    width: 95%;
    padding: 8px;
    margin: 5px;
    outline: none;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0;
}
input[type="submit"]{
    background-color: rgb(34, 110, 211);
    font-size: 16px;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(184, 66, 45);
}
.half{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}
.half input{
    width: 40%;
}
p,input[type="radio"]{
    display: inline-block;
    margin-left: 15px;
    width: auto;
}
fieldset{
    padding: 18px;
}
legend{
    padding: 0 4px;
}
/* ------------------------------------------- Footer --------------------------------------------------- */
.foot1{
    width: 100%;
    padding: 30px 15%;
    box-sizing: border-box;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    color: #c1c5d0;
    background: #2a2c35;
    line-height: 22px;
}
.foot1 h3{
    padding-bottom: 15px;
    padding-left: 15px;
    color: white;
}
.foot1 .num{
    padding-top: 15px;
    padding-bottom: 8px;
}
.foot1 p{
    display: inline-block;
}
.fa-mobile-alt,.fa-phone,.fa-map-marker-alt,.fa-envelope{
    color: #c1c5d0;
    font-size: 16px;
    padding-right:10px ;
    display: inline-block;
}
.fa-map-marker-alt{
    position: relative;
    top: -20px;
}
.foot2{
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
}
.num:hover,.tel:hover,.address:hover,.mail:hover{
    color: white;
}
.subfoot2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.fa-facebook,.fa-instagram-square,.fa-twitter,.fa-linkedin-in{
    padding: 10px;
    font-size: 25px;
    color: #c1c5d0;
}
.fa-facebook:hover,.fa-instagram-square:hover,.fa-twitter:hover,.fa-linkedin-in:hover{
    color: white;
}
